<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
1.在mybats的开发中namespace有特殊的意思，一定要是对应接口的全限定名
	通过namespace可以简历mapper.xml和接口之间的关系(名字不重要，位置不重要)
 -->
<mapper namespace="com.bwie.mapper.StuMapper">
        <insert id="addone">
                insert into stu values (null,#{sname},#{spassword},#{sex},#{birthday},#{cid})
        </insert>
        <delete id="deleteCheck">
                delete from stu where sid=#{sid}
        </delete>

        <select id="pagelist" resultType="com.bwie.vo.StuVo">
                select * from stu
        <where>
                <if test="sname!='' and sname!=null">
                        and sname like concat ('%',#{sname},'%')
                </if>
                <if test="cid!='' and cid!=null">
                        and cid=#{cid}
                </if>
                <if test="minday!=null">
                        and birthday>=#{minday}
                </if>
                <if test="maxday!=null">
                        and birthday&lt;=#{maxday}
                </if>
        </where>
        </select>
</mapper>